<tr>
    <td><a href="Library-Common.html">Example Common Library</a></td>
</tr>
<tr>
    <td><a href="Library-SupplementalDataElements.html">Supplemental Data Elements Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-MATGlobalCommonFunctions.html">Global Common Functions Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-AdultOutpatientEncounters.html">Adult Outpatient Encounters Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-Hospice.html">Hospice Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-EXMExecutableLibrary.html">Example Executable Library</a></td>
</tr>
<tr>
    <td><a href="Library-EXM124.html">Patient-based Proportion Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-EXM146.html">Encounter-based Proportion Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-library-risk-adjustment-FHIR2.html">Risk Adjustment Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-Terminology.html">Cohort Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-EXM108.html">Hospital Measure Library</a></td>
</tr>
