<tr>
    <td><a href="Measure-measure-exm124-FHIR.html">Cervical Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm125-FHIR.html">Breast Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm130-FHIR.html">Colorectal Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm146-FHIR.html">Appropriate use of Pharyngitis Testing (Encounter-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-vte-1-FHIR2.html">Venous Thromboembolism Prophylaxis (Encounter-based Proportion measure)</a></td>
</tr>
