<tr>
    <td><a href="Measure-measure-publishable-exm.html">Simple Publishable Measure Example</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm55-FHIR.html">Median ED Visit Duration (Continuous variable measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm124-FHIR.html">Cervical Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm125-FHIR.html">Breast Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm130-FHIR.html">Colorectal Cancer Screening Measure (Patient-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-exm146-FHIR.html">Appropriate use of Pharyngitis Testing (Encounter-based Proportion measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-risk-adjustment-FHIR2.html">Risk Adjustment Measure</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-terminology-FHIR.html">Terminology Example (cohort measure)</a></td>
</tr>
<tr>
    <td><a href="Measure-measure-vte-1-FHIR.html">Venous Thromboembolism Prophylaxis (Encounter-based Proportion measure)</a></td>
</tr>
