<tr>
    <td><a href="Library-common-FHIR.html">Example Common Library</a></td>
</tr>
<tr>
    <td><a href="Library-supplemental-data-elements-FHIR.html">Supplemental Data Elements Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-mat-global-common-functions-FHIR.html">Global Common Functions Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-adult-outpatient-encounters-FHIR.html">Adult Outpatient Encounters Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-hospice-FHIR.html">Hospice Shared Library</a></td>
</tr>
<tr>
    <td><a href="Library-exm55-FHIR.html">Continuous Variable Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-exm124-FHIR.html">Patient-based Proportion Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-exm146-FHIR.html">Encounter-based Proportion Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-library-risk-adjustment-FHIR2.html">Risk Adjustment Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-terminology-FHIR.html">Cohort Measure Library</a></td>
</tr>
<tr>
    <td><a href="Library-vte-1-FHIR.html">Hospital Measure Library</a></td>
</tr>
