<!--  source/pages/_includes/quality-improvement-ecosystem.html -->
<h4>Quality Improvement Ecosystem</h4>

<p>
As shown in step 1 in the diagram below, the Quality Improvement Ecosystem
begins with information, preferably evidence-based from research, public health
surveillance, and data mining and other analyses performed by third parties such
as payers. Such information indicates existing status and knowledge about a
given clinical topic. In step 2, stakeholders, such as professional societies,
public health and governmental bodies, and healthcare insurers have various
methods for publishing such information to assure awareness among consumers,
healthcare practitioners, and healthcare organizations about what is known and
suggested methods for managing the clinical topic. Ideally, suggested management
efforts are captured and documented in guidelines based on collaboration among
clinical subject matter experts, terminologists, informaticists, clinicians and
consumers.  In step 3, these clinical guidelines are translated into clinical
decision support (CDS) artifacts to incorporate valuable clinical
recommendations and actions directly within clinical workflow. To adequately
impact clinical care for clinicians and patients requires local implementation
activities as shown in Step 4. Ideally, the clinical guidelines and CDS include
methods for evaluating what successful implementation means, i.e., whether the
clinical care ultimately provided included processes that addressed the intent
of the guideline and if it achieved the desired outcomes. In step 5, to close
the loop and enable continuous improvement, the results of such measurement
analytics must be reported for aggregate review. Step 6, "Reporting" serves the
purpose of evaluating clinical performance and outcomes for healthcare
organizations, for public health and for payers.
</p>

<img src="assets/images/quality-improvement-ecosystem.png" alt="Quality
Improvement Ecosystem" class="figure-img img-responsive img-rounded
center-block"/> <p>Figure 1: The Quality Improvement Ecosystem Diagram</p>

<blockquote> <p>
Stakeholders such as public health have ongoing needs for
quality improvement at the point of care. Every effort should be made to
establish a capable distributed rule processing environment in FHIR. For
additional information about idealized processes for moving evidence and
information from guidelines to CDS and measurement, refer to an effort by the
Centers for Disease Control and Prevention (CDC) called <a
href="https://www.cdc.gov/ddphss/clinical-guidelines/index.html">Adapting
Clinical Guidelines for the Digital Age</a>.
</p> </blockquote>
