<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="introduction.html" class="item">Introduction</a></li>
  <li><a href="measure-conformance.html" class="item">QMs</a></li>
  <li><a href="using-cql.html" class="item">Using CQL</a></li>
  <li><a href="composite-measures.html" class="item">Composites</a></li>
  <li><a href="packaging.html" class="item">Packaging</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="profiles.html" class="item">Profiles</a></li>
      <li><a href="extensions.html" class="item">Extensions</a></li>
      <li><a href="terminology.html" class="item">Terminology</a></li>
      <li><a href="capabilities.html" class="item">Capabilities</a></li>
      <li><a href="operations.html" class="item">Operations</a></li>
      <li><a href="artifacts.html" class="item">Artifacts Summary</a></li>
      <li><a href="acknowledgements.html" class="item">Acknowledgements</a></li>
    </ul>
  </li>
  <li><a href="examples.html" class="item">Examples</a></li>
  <li><a href="glossary.html" class="item">Glossary</a></li>
  <li><a href="downloads.html" class="item">Downloads</a></li>
  <li><a href="changes.html">Changes</a></li>
</ul>
