---
layout: default
---
<a name="home" style="display:none;">&nbsp;</a>

<h2>
	<span class="sectioncount">1.0.0&nbsp;</span>
	<span>Quality Measure Implementation Guide</span>
	<a href="index.html#home" title="link to here" class="self-link"><img src="target.png" width="20" class="self-link" height="20"/></a>
</h2>

<h3>Summary</h3>

<p>The Fast Healthcare Interoperability Resource (FHIR) Quality Measure Implementation Guide (this IG) describes an approach to representing electronic Clinical Quality Measures (eCQMs) using the FHIR Clinical Reasoning Module and Clinical Quality Language (CQL) in the US Realm. However, this Implementation Guide can be usable for multiple use cases across domains, and much of the content is likely to be usable outside the US Realm.</p>

<p>The implementation guide is based upon the previous generation of eCQM representation standards, the HL7 V3-based Health Quality Measure Format (HQMF) and accompanying implementation guides. As an HL7 FHIR Implementation Guide, changes to this specification are managed by the sponsoring Clinical Quality Information Work Group and are incorporated as part of the standard balloting process.</p>

<h4>Examples</h4>

<p>Refer to the <a href="http://build.fhir.org/ig/cqframework/qi-core">QI-Core implementation guide</a> for examples of how to represent data involved in calculation of quality measures.</p>

<h3>Background</h3>

<!-- Quality Improvement Ecosystem -->
{% include quality-improvement-ecosystem.html %}

<!-- Quality Measurement Standards Landscape -->
{% include quality-measurement-standards-landscape.html %}


<!-- Data Model Standards Landscape -->
{% include data-model-standards-landscape.html %}

<h3>How to read this Guide</h3>
<p>This Guide is divided into several pages which are listed at the top of each page in the menu bar:</p>

<ul>
  <li><b><a href="index.html">Home</a></b>: The home page provides the summary and background information for the FHIR Quality Measure Implementation Guide</li>
  <li><b><a href="introduction.html">Introduction</a></b>: The introduction provides a more detailed overview of quality measurement and the background for this guide</li>
  <!-- TODO: Move this section to the Clinical Reasoning Module -->
  <!--<li><a href="overview.html">Overview</a></li>-->
  <!-- TODO: Move this section to the Clinical Reasoning Module -->
  <!--<li><a href="measure-components.html">Measure Components</a></li>-->
  <li><b><a href="measure-conformance.html">eCQMs</a></b>: This page describes measure representation and conformance requirements for eCQMs</li>
  <!-- TODO: This section is not complete, consider it a stretch goal for the May ballot -->
  <!--<li><a href="composite-measures.html">Composite Measures</a></li>-->
  <li><b><a href="using-cql.html">Using CQL</a></b>: This page covers using Clinical Quality Language to author eCQMs</li>
  <li><b><a href="examples.html">Examples</a></b>: This page provides examples used in the other pages, as well as by the Data Exchange for Quality Measures IG</li>
  <li><b><a href="profiles.html">Profiles/Extensions</a></b>: This page lists the set of profiles and extensions defined for use by eCQMs</li>
  <li><b><a href="terminology.html">Terminology</a></b>: This page lists value sets and code systems defined in this IG</li>
  <li><b><a href="glossary.html">Glossary</a></b>: This page defines terms related to quality measurement.</li>
  <li><b><a href="downloads.html">Downloads</a></b>: This page provides links to downloadable artifacts for implementations.</li>
  <li><b><a href="acknowledgements.html">Acknowledgements</a></b></li>
</ul>

<h3>References</h3>

1: <p><a href="https://www.hl7.org/documentcenter/public_temp_6C1C8F48-1C23-BA17-0C77FDFC69A7B6F1/calendarofevents/himss/2017/Health%20IT%20Enabled%20Quality%20Measurement%20and%20Improvement_The%20HL7%20Clinical%20Quality%20Work%20Group.pdf">https://www.hl7.org/documentcenter/public_temp_6C1C8F48-1C23-BA17-0C77FDFC69A7B6F1/calendarofevents/himss/2017/Health%20IT%20Enabled%20Quality%20Measurement%20and%20Improvement_The%20HL7%20Clinical%20Quality%20Work%20Group.pdf</a></p>
2: <p><a href="https://www.healthit.gov/sites/default/files/HITEnabledQualityImprovement-111214.pdf">Health IT Enabled Quality Improvement - A Vision to Achieve Better Health and Health Care</a></p>
